DB_USERNAME= username of mysql user | str
DB_PASSWORD= password of mysql user | str
DB_HOST= ip of mysql db | str
DB_PORT= port of mysql db | str
DB_NAME= name of mysql db | str

JWT_SECRET_KEY= str
JWT_ALGORITHM="HS256"
REFRESH_TOKEN_EXPIRE_DAYS= str | example 15

CORS_ORIGINS="*"
AWS_ACCESS_KEY= str
AWS_SECRET_ACCESS_KEY= str
AWS_REGION= str
AWS_S3_BUCKET_NAME= str

NOT USER FOR NOW

TEST_DB_USERNAME
TEST_DB_PASSWORD
TEST_DB_HOST
TEST_DB_PORT
TEST_DB_NAME
ACCESS_TOKEN_EXPIRE_MINUTES